<%- include('../partials/header') %>

<div class="row">
  <div class="col m12 l12">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">  
            <div class="row">
              <form action="/habits/all" method="GET">
                <div class="col l2 offset-l8">
                  <select name="month">
                    <% monthsFilter.forEach(m => { %>
                      <div>
                        <option value="<%= m %>"><%= m %></option>
                      </div>
                    <% }); %>
                    <div>
                      <option value="All Months">All Months</option>
                    </div>
                  </select> 
                </div>
                  <div class="col l2">
                    <button type="submit" class="waves-effect waves-light btn">Filter By Category</button> 
                  </div>
              </form> 
          </div>                 
          <div class="row">
            <h4><%= today.month %></h4>
            <table>
              <thead>
                <th>Habit</th>
                <% for(let i = 1; i <= daysInMonth; i++){ %>
                  <th><%= i %></th>
                <% } %>
                
                <!-- <th class="red-text"><%= today.month %> <%= today.date %></th> -->
                <th><div></div></th>
              </thead>
            <% habits.forEach(habit => { %>        
              <% habit.months.forEach( m => { %>
                <% if(month === m.month){ %>
                  <tr>
                    <td>
                      <%= habit.name %>
                    </td>
                    <% m.days.forEach((day, i) => { %>
                      <td>
                      <% if(day){ %>
                        <% if(i === today.date - 1) { %>
                          <div class="all-today-complete"></div> 
                        <% } else { %>
                          <div class="all-complete"></div>
                        <% } %>
                      <% } else { %>
                        <div class="all-incomplete"></div>
                      <% } %>
                      </td>

                  <% }); %> 
                <% } %>
              <% }); %> 
              <td>
            </td>
            <td>
              <a href="/habits/<%= habit.id %>"><i class="material-icons">create</i></a>
            </td>
            </tr>
            <% }); %> 
          </table>
          </div>
        </div>
        <div class="card-action">
          <a href="/habits/new" class="waves-effect waves-light btn">Add Habit</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>