<%- include('../partials/header') %>

  <% if(user){ %>
    <div class="row">
      <div class="col m12 l8">
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">        
              <div>
                <table>
                  <thead>
                    <th></th>
                    <th><%= today.month %> <%= today.date - 3 %></th>
                    <th><%= today.month %> <%= today.date - 2 %></th>
                    <th><%= today.month %> <%= today.date - 1 %></th>
                    <th class="red-text">Today</th>
                  </thead>
                <% habits.forEach(habit => { %>        
                  <% habit.months.forEach( m => { %>
                    <% if(month === m.month){ %>
                      <tr>
                        <td>
                          <%= habit.name %>
                        </td>
                        <% m.days.forEach((day, i) => { %>
                          <% if(i === today.date - 3 || i === today.date - 2|| i === today.date - 1|| i === today.date ){ %>
                            <td>
                            <% if(day){ %>
                              <div class="complete"></div>
                            <% } else { %>
                              <div class="incompete"></div>
                            <% } %>
                            </td>
                          <% } %>
                      <% }); %> 
                    <% } %>
                  <% }); %> 
                  <td>
                </td>
                <td>
                  <a href="/habits/<%= habit.id %>"><i class="material-icons">create</i></a>
                </td>
                </tr>
                <% }); %> 
              </table>
              </div>
            </div>
            <div class="card-action">
              <a href="/habits/new" class="waves-effect waves-light btn">Add Habit</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col m12 l4">
        <div class="card horizontal">
          <div class="card-stacked">
            <form action="/habits/complete?_method=PUT" method="POST">
              <div class="card-content">
                <h4>Habits For Today:</h4> 
                <% habits.forEach(habit => { %>
                  <% habit.months.forEach(m => { %>
                    <% if(month === m.month) { %>
                      <% if(m.days[today.date]) { %>
                        <div>
                          <label for="<%= habit.name %>" >
                            <input type="checkbox" id="<%= habit.name %>" name="<%= habit.name %>" value="true" checked="checked"/>
                            <span><%= habit.name %></span>
                          </label>
                        </div>
                      <% } else { %>
                        <div>
                            <label for="<%= habit.name %>" >
                              <input type="checkbox" id="<%= habit.name %>" name="<%= habit.name %>"/>
                              <span><%= habit.name %></span>
                            </label>
                          </div>
                      <% } %>
                    <% } %>
                  <% }); %>
                <% }); %>
              </div>
              <div class="card-action">
                <input type="submit" class="waves-effect waves-light btn" value="Submit Habits">
              </div>
            </form>
          </div>
        </div>
      </div>  
    </div>
  <% } else { %>
    <div class="row">
      <div class="col m12 l8 offset-l2">
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <h4 class="title"><a href="/auth/google">Login with Google to see all of your habits</a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% } %>

<%- include('../partials/footer') %>